Repository codenteq/imtihan, pull requests merged in 2022-12, with the labels that each got.

#57 API call added.
  backend/app/Http/Controllers/API/Manager/User/StudentController.php
  backend/app/Http/Controllers/API/Manager/User/TeacherController.php
  backend/app/Http/Controllers/API/Teacher/Announcement/AnnouncementController.php
  backend/app/Http/Requests/Manager/User/StoreStudentRequest.php
  backend/app/Http/Requests/Manager/User/StoreTeacherRequest.php
  backend/app/Http/Requests/Manager/User/UpdateStudentRequest.php
  backend/app/Http/Requests/Manager/User/UpdateTeacherRequest.php
  backend/app/Http/Resources/Manager/User/StudentResource.php
  backend/app/Http/Resources/Manager/User/TeacherResource.php
  backend/app/Models/UserInfo.php
  backend/app/Services/Manager/User/StudentService.php
  backend/app/Services/Manager/User/TeacherService.php
  backend/app/Services/Teacher/Announcement/AnnouncementService.php
  backend/composer.lock
  backend/routes/api.php
  backend/tests/Feature/Manager/User/StudentControllerTest.php
  backend/tests/Feature/Manager/User/TeacherControllerTest.php
  backend/tests/Feature/Teacher/Announcement/AnnouncementControllerTest.php
Labels: enhancement, API, Test, backend, auth

#61 Update README.md
  README.md
Labels: documentation, edited

#60 New feature added and edit done.
  backend/app/Http/Controllers/API/Manager/Exam/ClassExamController.php
  backend/app/Http/Controllers/API/Manager/Exam/ReportController.php
  backend/app/Http/Controllers/API/Manager/User/StudentController.php
  backend/app/Http/Controllers/API/Manager/User/TeacherController.php
  backend/app/Http/Controllers/API/Teacher/Booking/BookingController.php
  backend/app/Http/Controllers/API/User/Booking/BookingController.php
  backend/app/Http/Controllers/API/User/Support/SupportController.php
  backend/app/Http/Resources/Manager/Exam/ReportResource.php
  backend/app/Models/UserInfo.php
  backend/app/Services/Base/BaseService.php
  backend/app/Services/Manager/Exam/ClassExamService.php
  backend/app/Services/Manager/User/StudentService.php
  backend/app/Services/Manager/User/TeacherService.php
  backend/database/factories/ClassExamFactory.php
  backend/tests/Feature/Manager/Exam/ClassExamControllerTest.php
  backend/tests/Feature/Manager/Exam/ReportControllerTest.php
  backend/tests/Feature/Manager/User/StudentControllerTest.php
  backend/tests/Feature/Manager/User/TeacherControllerTest.php
Labels: completed, feature request, backend

#62 New api call added.
  backend/app/Http/Controllers/API/Teacher/Exam/ClassExamController.php
  backend/app/Http/Controllers/API/Teacher/Exam/ReportController.php
  backend/app/Http/Controllers/API/Teacher/Question/QuestionController.php
  backend/app/Http/Requests/Teacher/Exam/StoreClassExamRequest.php
  backend/app/Http/Requests/Teacher/Exam/UpdateClassExamRequest.php
  backend/app/Http/Requests/Teacher/Question/StoreQuestionRequest.php
  backend/app/Http/Requests/Teacher/Question/UpdateQuestionRequest.php
  backend/app/Http/Resources/Teacher/Exam/ClassExamResource.php
  backend/app/Http/Resources/Teacher/Exam/ReportResource.php
  backend/app/Http/Resources/Teacher/Question/QuestionResource.php
  backend/app/Services/Teacher/Exam/ClassExamService.php
  backend/app/Services/Teacher/Exam/ReportService.php
  backend/app/Services/Teacher/Question/QuestionService.php
  backend/routes/api.php
  backend/tests/Feature/Teacher/Exam/ClassExamControllerTest.php
  backend/tests/Feature/Teacher/Exam/ReportControllerTest.php
  backend/tests/Feature/Teacher/Question/QuestionControllerTest.php
Labels: enhancement, completed, API, Test, backend

#64 frentend structure done.
  backend/routes/api.php
  frontend/package.json
  frontend/src/components/Avatar.js
  frontend/src/components/Header.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/Navigation.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
  frontend/src/pages/_app.js
  frontend/src/pages/auth/forgot-password.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/password-reset/[token].js
  frontend/src/pages/auth/register.js
  frontend/src/pages/auth/verify-email.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/index.js
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: enhancement, edited, completed, UI, frontend

#65 UI update
  frontend/package-lock.json
  frontend/package.json
  frontend/public/imtihan-default.webp
  frontend/public/vercel.svg
  frontend/src/components/ApplicationLogo.js
  frontend/src/components/AuthCard.js
  frontend/src/components/AuthSessionStatus.js
  frontend/src/components/Button.js
  frontend/src/components/Dropdown.js
  frontend/src/components/DropdownLink.js
  frontend/src/components/Header.js
  frontend/src/components/Input.js
  frontend/src/components/InputError.js
  frontend/src/components/Label.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/GuestLayout.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/NavLink.js
  frontend/src/components/Progress/Bar.js
  frontend/src/components/Progress/Container.js
  frontend/src/components/Progress/Progress.js
  frontend/src/components/Progress/index.js
  frontend/src/components/ResponsiveNavLink.js
  frontend/src/pages/404.js
  frontend/src/pages/_app.js
  frontend/src/pages/auth/forgot-password.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/password-reset/[token].js
  frontend/src/pages/auth/register.js
  frontend/src/pages/auth/verify-email.js
  frontend/src/pages/dashboard.js
  frontend/store/index.js
  frontend/store/useProgressStore.js
  frontend/yarn.lock
Labels: edited, UI, frontend

#66 Menu configuration
  backend/app/Jobs/ExamResultJob.php
  backend/app/Services/User/Exam/ExamService.php
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/config/menu.js
Labels: edited, completed, frontend

#67 UI edited
  frontend/.prettierrc
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/BackButton.js
  frontend/src/components/Button.js
  frontend/src/components/Dropdown.js
  frontend/src/components/DropdownLink.js
  frontend/src/components/Header.js
  frontend/src/components/Input.js
  frontend/src/components/InputFile.js
  frontend/src/components/InputSelect.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
  frontend/src/components/NavLink.js
  frontend/src/components/ResponsiveNavLink.js
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/TableMobile.js
  frontend/src/config/menu.js
  frontend/src/hooks/auth.js
  frontend/src/pages/_app.js
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/pages/admin/company/create.js
  frontend/src/pages/admin/company/index.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/index.js
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: edited, frontend
