Repository codenteq/imtihan, pull requests merged in 2022-11, with the labels that each got.

#43 Update composer.json
  backend/composer.json
Labels: edited

#44 test_company_user_list bug fix and new command added.
  backend/app/Console/Commands/PackageCreator.php
  backend/database/factories/UserFactory.php
Labels: enhancement, bug fixed, artisan

#45 Fixed updates on request (exists, numeric)
  backend/app/Http/Requests/Admin/Company/StoreCompanyRequest.php
  backend/app/Http/Requests/Admin/Company/UpdateCompanyRequest.php
  backend/app/Http/Requests/Admin/Condition/StoreConditionCategoryRequest.php
  backend/app/Http/Requests/Admin/Condition/StoreConditionRequest.php
  backend/app/Http/Requests/Admin/Condition/UpdateConditionCategoryRequest.php
  backend/app/Http/Requests/Admin/Condition/UpdateConditionRequest.php
  backend/app/Http/Requests/Admin/Lesson/StoreLessonRequest.php
  backend/app/Http/Requests/Admin/Lesson/UpdateLessonRequest.php
  backend/app/Http/Requests/Admin/Post/StoreAnnouncementRequest.php
  backend/app/Http/Requests/Admin/Post/StoreSliderRequest.php
  backend/app/Http/Requests/Admin/Post/UpdateAnnouncementRequest.php
  backend/app/Http/Requests/Admin/Post/UpdateSliderRequest.php
Labels: edited, bug fixed, backend

#46 Added new api call and edities
  backend/app/Console/Commands/PackageCreator.php
  backend/app/Helper/Helper.php
  backend/app/Http/Controllers/API/Manager/Post/AnnouncementController.php
  backend/app/Http/Requests/Manager/Post/StoreAnnouncementRequest.php
  backend/app/Http/Requests/Manager/Post/UpdateAnnouncementRequest.php
  backend/app/Http/Resources/Manager/Post/AnnouncementResource.php
  backend/app/Models/User.php
  backend/app/Services/Manager/Post/AnnouncementService.php
  backend/database/factories/UserInfoFactory.php
  backend/routes/api.php
  backend/tests/Feature/Admin/Condition/ConditionCategoryControllerTest.php
  backend/tests/Feature/Manager/Post/AnnouncementControllerTest.php
Labels: bug, edited, API, backend, linter, artisan

#52 #51 request completed. additional policies added.
  README.md
  backend/app/Http/Controllers/API/Manager/Announcement/AnnouncementController.php
  backend/app/Http/Controllers/API/Manager/Lesson/LessonController.php
  backend/app/Http/Controllers/API/Manager/Lesson/LiveLessonController.php
  backend/app/Http/Controllers/API/Manager/Notification/NotificationController.php
  backend/app/Http/Controllers/API/Manager/Question/QuestionController.php
  backend/app/Http/Controllers/API/User/Booking/BookingController.php
  backend/app/Http/Controllers/API/User/Support/SupportController.php
  backend/app/Http/Requests/Manager/Notification/StoreNotificationRequest.php
  backend/app/Http/Requests/Manager/Notification/UpdateNotificationRequest.php
  backend/app/Http/Resources/Manager/Notification/NotificationResource.php
  backend/app/Policies/Manager/Announcement/AnnouncementPolicy.php
  backend/app/Policies/Manager/Lesson/LessonByCompanyPolicy.php
  backend/app/Policies/Manager/Lesson/LiveLessonPolicy.php
  backend/app/Policies/Manager/Question/QuestionByCompanyPolicy.php
  backend/app/Providers/AuthServiceProvider.php
  backend/app/Services/Manager/Notification/NotificationService.php
  backend/composer.json
  backend/routes/api.php
  backend/tests/Feature/Manager/Notification/NotificationControllerTest.php
  backend/tests/Feature/User/Booking/BookingControllerTest.php
  backend/tests/Feature/User/Support/SupportControllerTest.php
Labels: enhancement, Test, backend

#54 Update README.md
  README.md
Labels: documentation

#53 Added api new call
  backend/app/Http/Controllers/API/Manager/Exam/ClassExamController.php
  backend/app/Http/Controllers/API/Manager/Exam/ReportController.php
  backend/app/Http/Requests/Manager/Exam/StoreClassExamRequest.php
  backend/app/Http/Requests/Manager/Exam/UpdateClassExamRequest.php
  backend/app/Http/Resources/Manager/Exam/ClassExamResource.php
  backend/app/Http/Resources/Manager/Exam/ReportResource.php
  backend/app/Models/ClassExam.php
  backend/app/Models/ExamResult.php
  backend/app/Models/ExamResultCategory.php
  backend/app/Models/User.php
  backend/app/Services/Manager/Exam/ClassExamService.php
  backend/app/Services/Manager/Exam/ReportService.php
  backend/database/factories/ClassExamFactory.php
  backend/database/migrations/2022_09_28_185431_create_class_exams_table.php
  backend/database/migrations/2022_10_01_225734_create_exam_results_table.php
  backend/routes/api.php
  backend/tests/Feature/Manager/Exam/ClassExamControllerTest.php
  backend/tests/Feature/Manager/Exam/ReportControllerTest.php
  backend/tests/Feature/User/Booking/BookingControllerTest.php
  backend/tests/Feature/User/Support/SupportControllerTest.php
  backend/yarn.lock
Labels: enhancement, API, change request, backend

#55 changed User::Normal to User::Student
  backend/tests/Feature/User/Booking/BookingControllerTest.php
  backend/tests/Feature/User/Support/SupportControllerTest.php
Labels: bug, edited, bug fixed, backend

#56 Added new policies.
  CONTRIBUTING.md
  README.md
  backend/app/Http/Controllers/API/Teacher/Booking/BookingController.php
  backend/app/Http/Controllers/API/User/Support/SupportController.php
  backend/app/Policies/Teacher/Booking/BookingPolicy.php
  backend/app/Policies/User/Booking/BookingPolicy.php
  backend/app/Policies/User/Support/SupportPolicy.php
  backend/app/Providers/AuthServiceProvider.php
  backend/composer.lock
  backend/routes/api.php
  backend/tests/Feature/Teacher/Booking/BookingControllerTest.php
  frontend/README.md
Labels: enhancement, edited, bug fixed, Test, backend
