Repository codenteq/imtihan, pull requests merged in 2023-03, with the labels that each got.

#87 Update README.md
  README.md
Labels: documentation

#89 UI upgrade && Bug Fixed
  backend/app/Http/Requests/Admin/Company/StoreCompanyRequest.php
  backend/app/Http/Requests/Admin/Company/UpdateCompanyRequest.php
  frontend/src/components/Header.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
  frontend/src/components/Table/Datatable.js
  frontend/src/components/ThemeToggle.js
  frontend/src/config/menu.js
  frontend/src/pages/admin/account/index.js
  frontend/src/pages/admin/dashboard.js
  frontend/src/pages/index.js
Labels: edited, bug fixed, UI, backend, frontend

#90 Frontend edited.
  frontend/src/components/Modal.js
  frontend/src/components/NavLink.js
  frontend/src/components/progress/Bar.js
  frontend/src/components/progress/Container.js
  frontend/src/components/progress/Progress.js
  frontend/src/components/progress/index.js
  frontend/src/components/table/Datatable.js
  frontend/src/components/table/Pagination.js
  frontend/src/components/table/TableMobile.js
  frontend/src/layouts/AppLayout.js
  frontend/src/layouts/Footer.js
  frontend/src/layouts/GuestLayout.js
  frontend/src/layouts/Sidebar.js
  frontend/src/pages/_app.js
  frontend/src/pages/admin/account/index.js
  frontend/src/pages/admin/announcement/[id]/edit.js
  frontend/src/pages/admin/announcement/[id]/view.js
  frontend/src/pages/admin/announcement/create.js
  frontend/src/pages/admin/announcement/index.js
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/pages/admin/company/[id]/view.js
  frontend/src/pages/admin/company/create.js
  frontend/src/pages/admin/company/index.js
  frontend/src/pages/admin/dashboard.js
  frontend/src/pages/admin/language/[id]/edit.js
  frontend/src/pages/admin/language/[id]/view.js
  frontend/src/pages/admin/language/create.js
  frontend/src/pages/admin/language/index.js
  frontend/src/pages/auth/forgot-password.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/password-reset/[token].js
  frontend/src/pages/auth/register.js
  frontend/src/pages/auth/verify-email.js
  frontend/src/sections/admin/languages/CreateModal.js
Labels: enhancement, edited, UI, frontend

#91 Modal UI upgrade
  frontend/src/components/Label.js
  frontend/src/components/Modal.js
  frontend/src/components/Progress/Bar.js
  frontend/src/components/Progress/Container.js
  frontend/src/components/Progress/Progress.js
  frontend/src/components/Progress/index.js
  frontend/src/sections/admin/languages/CreateModal.js
Labels: edited, UI, frontend

#93 Fix linting errors and backend type error related to keywords
  backend/.DS_Store
  backend/app/Http/Middleware/Authenticate.php
  frontend/package.json
  frontend/src/components/ApplicationLogo.js
  frontend/src/components/MobileBar.js
  frontend/src/components/progress/Bar.js
  frontend/src/components/table/Datatable.js
  frontend/src/components/table/Pagination.js
  frontend/src/components/table/TableMobile.js
  frontend/src/hooks/auth.js
  frontend/src/layouts/Sidebar.js
  frontend/src/lib/axios.js
  frontend/src/pages/admin/announcement/create.js
  frontend/src/pages/auth/login.js
  frontend/yarn.lock
Labels: bug fixed, linter

#95 Update composer.json
  composer.json
Labels: documentation
