Repository codenteq/imtihan, pull requests merged in 2023-04, with the labels that each got.

#98 Project upgraded
  backend/composer.lock
  frontend/package-lock.json
  frontend/src/components/Modal.js
  frontend/src/pages/index.js
Labels: enhancement, edited, UI, backend, frontend

#100 0.5.1 is released
  frontend/src/pages/index.js
Labels: documentation, enhancement

#102 UI issues and new page (About)
  frontend/src/components/Avatar.js
  frontend/src/components/Input.js
  frontend/src/layouts/AppLayout.js
  frontend/src/layouts/GuestLayout.js
  frontend/src/pages/about.js
  frontend/src/pages/admin/account/index.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/register.js
  frontend/src/pages/index.js
  frontend/src/styles/globals.css
Labels: enhancement, edited, UI, frontend

#103 Edited docker-compose yml and dockerfile
  backend/.env.prod
  frontend/.env.example
  frontend/.env.production
  frontend/.gitignore
  frontend/docker-compose.yml
  frontend/docker/Dockerfile
  frontend/docker/nginx.conf
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: bug, enhancement, edited

#104 New features and some fixes
  frontend/public/analytics.webp
  frontend/public/class-exam.webp
  frontend/public/events.webp
  frontend/public/home.webp
  frontend/public/online-course.webp
  frontend/src/components/MobileBar.js
  frontend/src/pages/about.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/register.js
Labels: enhancement, edited, bug fixed, UI, frontend

#105 UI upgrade & delete
  frontend/public/analytics.webp
  frontend/public/class-exam.webp
  frontend/public/events.webp
  frontend/public/home.webp
  frontend/public/imtihan-default.webp
  frontend/public/imtihan.svg
  frontend/public/online-course.webp
  frontend/src/components/ApplicationLogo.js
  frontend/src/components/Input.js
  frontend/src/components/InputSelect.js
  frontend/src/components/Textarea.js
  frontend/src/components/Toggle.js
  frontend/src/pages/about.js
  frontend/src/pages/auth/login.js
Labels: enhancement, edited, UI, frontend
