Repository codenteq/imtihan, pull requests merged in 2023-02, with the labels that each got.

#69 Add funding github sponsor
  .github/FUNDING.yml
  backend/composer.lock
Labels: documentation

#71 Update composer.json & license
  LICENSE
  composer.json
Labels: composer

#73 Email verification feature enabled.
  backend/app/Models/User.php
  backend/composer.lock
  backend/routes/api.php
  frontend/src/hooks/auth.js
  frontend/yarn.lock
Labels: enhancement, Test, backend, frontend, auth

#78 Datatable UI change
  frontend/src/components/Avatar.js
  frontend/src/components/Table/Table.js
  frontend/src/pages/admin/company/index.js
Labels: enhancement, edited, frontend

#79 UI update
  frontend/src/components/BackButton.js
  frontend/src/components/Header.js
  frontend/src/components/Input.js
  frontend/src/components/InputSelect.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/Footer.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
Labels: UI, frontend

#80 Frontend and Backend new feature added and bugs fixed
  backend/.env.example
  backend/.env.testing
  backend/app/Http/Controllers/API/Admin/Company/CompanyController.php
  backend/app/Http/Middleware/EnsureEmailIsVerified.php
  backend/app/Http/Requests/Admin/Company/StoreCompanyRequest.php
  backend/app/Http/Requests/Admin/Company/UpdateCompanyRequest.php
  backend/app/Http/Resources/Admin/Company/CompanyResource.php
  backend/app/Models/Company.php
  backend/app/Services/Admin/Company/CompanyService.php
  backend/app/Services/Base/BaseService.php
  backend/app/Services/Manager/Question/QuestionService.php
  backend/app/Services/Manager/User/StudentService.php
  backend/app/Services/Manager/User/TeacherService.php
  backend/app/Services/Teacher/Lesson/LessonService.php
  backend/app/Services/Teacher/Question/QuestionService.php
  backend/composer.json
  backend/composer.lock
  backend/config/scout.php
  backend/docker-compose.yml
  backend/phpunit.xml
  backend/tests/Feature/Admin/Company/CompanyControllerTest.php
  frontend/.env.example
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/Header.js
  frontend/src/components/InputSelect.js
  frontend/src/components/Table/Datatable.js
  frontend/src/components/Table/Pagination.js
  frontend/src/components/Table/Table.js
  frontend/src/lib/image.js
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/pages/admin/company/create.js
  frontend/src/pages/admin/company/index.js
  frontend/src/store/slices/company.js
  frontend/yarn.lock
Labels: completed, bug fixed, conflicts, UI, Test, backend, frontend

#81 .env.dev created.
  backend/.env.dev
Labels: backend

#82 UI edit and dark/light theme button.
  frontend/.env.example
  frontend/package.json
  frontend/src/components/AuthCard.js
  frontend/src/components/Avatar.js
  frontend/src/components/Button.js
  frontend/src/components/Header.js
  frontend/src/components/Input.js
  frontend/src/components/InputFile.js
  frontend/src/components/Label.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/GuestLayout.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
  frontend/src/components/Progress/Bar.js
  frontend/src/components/Table/Datatable.js
  frontend/src/components/Table/Pagination.js
  frontend/src/components/Table/TableMobile.js
  frontend/src/components/ThemeToggle.js
  frontend/src/pages/404.js
  frontend/src/pages/_app.js
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/pages/admin/company/create.js
  frontend/src/pages/admin/company/index.js
  frontend/src/pages/auth/forgot-password.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/register.js
  frontend/src/pages/auth/verify-email.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/index.js
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: enhancement, edited, UI, backend, frontend

#83 is_active bug fixed.
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/store/slices/company.js
Labels: bug fixed, frontend

#84 Fixed UI update
  frontend/src/components/Button.js
  frontend/src/components/Header.js
  frontend/src/components/Input.js
  frontend/src/components/InputSelect.js
  frontend/src/components/Layouts/AppLayout.js
  frontend/src/components/Layouts/GuestLayout.js
  frontend/src/components/Layouts/Sidebar.js
  frontend/src/components/MobileBar.js
  frontend/src/components/NavLink.js
  frontend/src/components/Table/Datatable.js
  frontend/src/components/ThemeToggle.js
  frontend/src/components/Toggle.js
  frontend/src/config/menu.js
  frontend/src/pages/admin/company/[id]/edit.js
  frontend/src/pages/admin/company/[id]/view.js
  frontend/src/pages/admin/company/create.js
  frontend/src/pages/admin/company/index.js
  frontend/src/pages/admin/dashboard.js
  frontend/src/pages/auth/login.js
  frontend/src/pages/auth/register.js
  frontend/src/pages/auth/verify-email.js
  frontend/src/pages/index.js
  frontend/src/store/slices/company.js
Labels: UI, in testing, frontend
